data/raw/application_train.csv filter=lfs diff=lfs merge=lfs -text
data/processed/full_cleaned.csv filter=lfs diff=lfs merge=lfs -text
data/processed/full_cleaned.pkl filter=lfs diff=lfs merge=lfs -text
